<li class='searchable'>
	<% if params[:controller] == "scoreboard" && (scoreboard_on? || admin_user?) %>

		<h3 class='col-md-1 col-xs-1'>
			<%= @sorted_teams.index(team) + 1 %>
		</h3>
		<div class='col-md-8 col-xs-6'>
			<h3> <%= link_to team.name, team %> </h3>
			<h5 class='text-muted'> (<%= pluralize(team.users.count, "member") %>) </h5>
		</div>
		<h3 class='col-md-3 col-xs-5'>
			<%= team.get_score %>
		</h3>

	<% else %>

    <h3> 
      <%= link_to team.name, team %> 
      <% if admin_user? %>
        <span class="pull-right">
          <%= link_to team, method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' }, 
                form: {style: 'display:inline-block;'} do %>
            <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
          <% end %>
        </span>
      <% end %>
    </h3>
    <h5 class='text-muted'> 
      (
        <%= pluralize(team.users.count, "member") %>
        <% if admin_user? %>/
          <%= team.challenges_solved %>/<%= local_assigns[:num_challenges] %> solves
        <% end %>
      )
    </h5>
	<% end %>
</li>
