<% provide(:title, @team.name) %>
<h1>
	<%= @team.name %>
	<% if admin_user? || member_of_team(current_user, @team) %>
		: <%= @team.get_score %>
	<% end %>
</h1>
<h2>Bracket: <%= @bracket.name %></h2>
<%= content_tag :div, class: 'row' do %>
	<%= content_tag :div, class: 'col-md-6 col-md-offset-3' do %>
		<%= content_tag :table, id: 'members', class: 'table' do %>
			<% for @member in @members do %>
				<tr> <td>
       		<%= gravatar_for @member %>
				</td> <td>
					<%= content_tag :h5, id: @member.id do %>
						<p><%= link_to @member.username, @member %></p>
						<% if admin_user? || member_of_team(current_user, @team) %>
							<p>Points Scored: <%= @member.get_score %></p>
						<% end %>
					<% end %>
				</td> <td class='vert-align'>
					<% if member_of_team(current_user, @team) %>
						<%= link_to 'Remove', remove_member_path(user_id: @member.id, team_id: @team.id),  method: :post, class: 'btn btn-primary' %>
					<% end %>
				</td> </tr>
			<% end %>
		<% end %>
		<% if !member_of_team(current_user, @team) %>
			<%= form_tag join_path, class: 'form-inline col-md-12' do %>
				<%= hidden_field_tag 'user_id', current_user.id %>
				<%= hidden_field_tag 'team_id', @team.id %>
 				<%= password_field_tag :passphrase, nil, class: 'form-control col-md-offset-4 col-md-5', placeholder: 'Passphrase' %>
				<%= submit_tag 'Join', class: 'form-control btn btn-primary col-md-3' %>
			<% end %>
		<% else %>
			<%= link_to 'Edit', edit_team_path(@team.id), class: 'btn btn-primary' %>
		<% end %>
  <% end %>
<% end %>
