<h1><%= @competition_name %></h1>

<p>Hello <%= @user.fname %>!</p>

<p>
Thanks for your support, and welcome to <%= @competition_name %>! Please click
on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>
Best of luck!<br />
-The <%= @competition_name %> Team
</p>

<p>
- Note: Please do not reply to this e-mail.  If you have questions, please e-mail: <%= mail_to @admin_email %>
</p>

