<h1><%= @competition_name %> Password Reset</h1>

<p>Hello <%= @user.fname %>!</p>

<p>We have recieved a request to reset your password.  If you did not make this
request, please ignore this e-mail and your password will not change.
Otherwise, click the link below to reset your password:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>
Happy Hacking!
-The <%= @competition_name %> Team
</p>

<p>
- Note: Please do not reply to this e-mail.  If you have questions, please e-mail: <%= mail_to @admin_email %>
</p>

