<h2>Hints</h2>
<%= content_tag :table, id: 'hints', class: 'table' do %>
	<% @team = Team.find(current_user.team_id) %>
	<% for hint in (current_user.admin? ? @problem.hints_array : @team.get_hints_requested(@problem.id)) do %>
		<% @prob_hint = (hint.kind_of?(String) ? Hint.find(hint) : Hint.find(hint.hint_id)) %>
		<tr> <td class="col-md-8">
			<%= content_tag :h5, id: @prob_hint.id do %>
				<%= @prob_hint.priority %>: <%= @prob_hint.hint %> ( <%= @prob_hint.points %> )
			<% end %>
		</td> <td class="col-md-2">
			<% if current_user.admin? %>
				<%= link_to 'Edit', edit_hint_path(id: @prob_hint.id, problem_id: @problem.id), class: 'btn btn-primary' %>
			<% end %>
		</td> <td class="col-md-2">
			<% if current_user.admin? %>
				<%= link_to 'Remove', remove_hint_path(hint_id: @prob_hint.id, problem_id: @problem.id),  method: :delete, class: 'btn btn-primary' %>
			<% end %>
		</td> </tr>
	<% end %>
<% end %>
<% if current_user.admin? %>
	<%= render 'new_hint' %>
<% end %>
