<!-- Button trigger modal -->
<%= button_tag type: 'button', class: 'col-md-12 btn btn-primary', 'data-toggle' => 'modal', 'data-target' => add_id('#new_hint_for_problem',@problem) do %>
	Add
<% end %>

<!-- Modal -->
<%= content_tag :div, id: add_id('new_hint_for_problem',@problem), class: 'new_hint_modal modal fade', tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'new_hint_dialog_label' do %>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="new_hint_dialog_label">Add hint</h4>
			</div>
			<div class="modal-body">
				<div class="input-group"> 
					<span class="input-group-addon">Search</span>
					<%= text_field nil, 'filter', class: 'filter form-control' %>
				</div>
				<%= content_tag :table, id: add_id('hint_table_for',@problem), class: 'table' do %>
					<%= content_tag :thead do %>
						<%= content_tag :tr do %>
							<%= content_tag :th, 'ID', class: 'col-md-2' %>
							<%= content_tag :th, 'Hint', class: 'col-md-8' %>
							<%= content_tag :th, 'Points', class: 'col-md-2' %>
						<% end %>
					<% end %>
					<%= content_tag :tbody, class: 'searchable' do %>
						<% for hint in Hint.all %>
							<%= content_tag :tr, class: 'hint_row', 'data-hint-id' => hint.id, 'data-problem-id' => @problem.id do %>
								<%= content_tag :td, hint.id %>
								<%= content_tag :td, hint.hint %>
								<%= content_tag :td, hint.points %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= link_to 'New', add_hint_path(problem_id: @problem.id), method: :post, class: 'btn btn-primary' %>
			</div>
		</div>
	</div>
<% end %>
