<p>  <%= @problem.description %> </p>
<p ><%= image_tag @problem.picture.url if @problem.picture? %> </p>
<% if @problem.solved_by?(current_user.team_id) %>
	<p>Your team has solved this challenge!</p>
<% else %>
	<%= render 'submit' %>
	<%= content_tag :br %>
	<% if !current_user.admin? && @problem.number_of_hints_available > 0 %>
		<%= render 'hints' %>
		<%= render 'request_hint' %>
	<% end %>
<% end %>
