<p>  <%= @problem.description %> </p>
<p ><%= image_tag @problem.picture.url if @problem.picture? %> </p>
<% if @problem.solved_by?(current_user.team_id) %>
	<p>Your team has solved this challenge!</p>
<% else %>
	<%= render 'submit' %>
	<%= content_tag :br %>
	<% if !current_user.admin? && @problem.number_of_hints_available > 0 %>
		<% if Team.find(current_user.team_id).get_hints_requested(@problem.id).count > 0 %>
			<%= render 'hints' %>
		<% end %>
		<%= link_to 'Request Hint', request_hint_path(problem_id: @problem.id),  method: :post, class: 'btn btn-primary' %>
	<% end %>
<% end %>
