<%= content_tag :div do %>
  <!-- Nav tabs -->
	<%= content_tag :ul, role: 'tablist', class: 'nav nav-tabs' do %>
		<%= content_tag :li, role: 'presentation', class: 'active' do %>
			<%= link_to 'Problem', "#problem_#{@problem.id}", 'aria-controls' => "problem_#{@problem.id}", role: 'tab', 'data-toggle' => 'tab' %>
		<% end %>
		<%= content_tag :li, role: 'presentation' do %>
			<%= link_to 'Hints', "#hints_#{@problem.id}", 'aria-controls' => "hints_#{@problem.id}", role: 'tab', 'data-toggle' => 'tab' %>
		<% end %>
  <% end %>

  <!-- Tab panes -->
	<%= content_tag :div, class: 'tab-content' do %>
		<%= content_tag :div, role: 'tabpanel', class: 'tab-pane active', id: "problem_#{@problem.id}" do %>
			<%= content_tag :h4, "Solves: #{Submission.get_solves_for_problem(@problem.id)}", class: 'text-center' %>
			<%= content_tag :p, @problem.description %>
			<p><%= image_tag @problem.picture.url if @problem.picture? %></p>
			<% if @problem.solved_by?(current_user.team_id) %>
				<p>Your team has solved this challenge!</p>
			<% else %>
				<%= render 'submit' %>
			<% end %>
		<% end %>
		<%= content_tag :div, role: 'tabpanel', class: 'tab-pane', id: "hints_#{@problem.id}" do %>
			<%= content_tag :div, class: 'row' do %>
				<% if !current_user.admin? && @problem.number_of_hints_available > 0 %>
					<% if Team.find(current_user.team_id).get_hints_requested(@problem.id).count > 0 %>
						<%= content_tag :div, class: 'col-md-12' do %>
							<%= render 'hints' %>
						<% end %>
					<% else %>
						<br />
						<p class="col-md-12">No hints requested yet</p>
						<br />
					<% end %>
					<% if !@problem.solved_by?(current_user.team_id) %>
						<%= content_tag :div, class: 'col-md-12' do %>
							<%= link_to 'Request Hint', request_hint_path(problem_id: @problem.id),  method: :post, class: 'btn btn-primary' %>
						<% end %>
					<% end %>
				<% else %>
					<br />
					<p class="col-md-12">Sorry, no hints available!</p>
					<br />
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
