<% provide(:title, 'Problems') %>
<h1>Problems</h1>

<% if admin_user? %>
	<%= link_to "Create", new_problem_path, class: 'btn btn-primary' %>
<% end %>

<%= content_tag :div, class: 'panel-group', id: 'accordion', role: 'tablist', 'aria-multiselectable' => 'true' do %>
	<% for @problem in @problems do %>
		<% if !@category || @category != @problem.category %>
			<% @category = @problem.category %>
			<h3><%= @category %></h3>
		<% end %>
		<%= content_tag :div, class: 'panel panel-default' do %>
			<%= content_tag :div, class: 'panel-heading', role: 'tab', id: add_id('heading',@problem) do %>
				<%= content_tag :h4, class: 'panel-title' do %>
					<div class="row">
						<%= content_tag :a, class: 'col-md-9 navbar-btn', role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: add_id('#main_problem',@problem), 'aria-expanded' => 'true', 'aria-controls' => @problem.id.to_s do %>
        			<%= @problem.name %> : <%= @problem.points.to_s %>
							<% if !admin_user? && @problem.solved_by?(current_team.id) %>
								| SOLVED
							<% end %>
						<% end %>
						<div class="col-md-3 text-right">
 							<% if admin_user? %>
   							<%= link_to "edit", edit_problem_path(@problem), class: 'btn btn-primary' %>
   							<%= link_to "delete", @problem, method: :delete,
                             	 				data: { confirm: "You sure?" },
															  			class: 'btn btn-primary' %>
							<% end %>
						</div>
					</div>
    		<% end %>
    	<% end %>
			<%= content_tag :div, id: add_id('main_problem',@problem), class: panel_collapsed(@problem_view, @problem), role: 'tabpanel', 'aria-labelledby' => add_id('heading',@problem) do %> 
				<%= content_tag :div, class: 'panel-body' do %>
					<%= render @problem %>
    		<% end %>
    	<% end %>
		<% end %>
	<% end %>
<% end %>

<% # Show hint tab if referred from hint_request controller # %>
<% if @hint_requested %>
	<%= javascript_tag do %>
		$('#problem_tabs_<%= @problem.id %> a[href="#hints_<%= @problem.id %>"]').tab('show') 
	<% end %>
<% end %>

