<% provide(:title, @problem.name) %>
<div class="row">
	<h1> <%= @problem.name %> : <%= @problem.points %> (<%= @problem.category %>)</h1>
	<p>  <%= @problem.description %> </p>
	<%= render 'submit' %>
	<%= link_to "Back", problems_path, class: "btn btn-primary" %>
</div>
