<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
	<%= f.label "First Name"  %>
  <%= f.text_field :fname, class: 'form-control' %>

	<%= f.label "Last Name" %>
  <%= f.text_field :lname, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

	<% if require_payment? && @new_user_page %>
  	<article>
    	<label class="amount">
      	<span>Amount: <%= number_to_currency(@amount.to_f / 100) %></span>
    	</label>
  	</article>

  	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          	data-description="<%= competition_name %> registration"
          	data-amount="<%= @amount %>"
          	data-locale="auto">
		</script>
	<% else %>
  	<%= f.submit yield(:button_text), class: "btn btn-primary" %>
	<% end %>

<% end %>
