<%= form_tag(settings_path, method: "patch", class: "form-inline col-md-12") do %>
	<% for setting in @settings %>
		<div class="row">
			<%= hidden_field_tag("admin["+setting.id.to_s+"][id]", :id, value: setting.id) %>
			<%= label_tag("admin["+setting.id.to_s+"][value]", setting.name, class: "col-md-4 control-label") %>
			<%= text_field("admin["+setting.id.to_s+"]", "value", value: setting.value, class: "col-md-8 form-control") %>
		</div>
	<% end %>
	<%= submit_tag("Save Changes", class: "form-control col-md-3 btn btn-default") %>
<% end %>
